$main: rgb(243, 139, 114);

@mixin default-progress {
    border-radius: 10px;
    width: 50vw;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        width: 45vw;
    }
    @media (min-width: 768px) {
        width: 40vw;
    }
    @media (min-width: 992px) {
        width: 35vw;
    }
}

@mixin progress-blank {
    @include default-progress;
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    height: 12px;
}

@mixin progress-fill {
    @include default-progress;
    background-color: $main;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

@mixin button-size {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

span {
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
    align-self: center;
}

.player {
    display: inline-block;
}

.control div {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.control .control__backward button,
.control .control__forward button {
    @include button-size;
    background: transparent;
    // border: 1px solid $main;
    color: $main;
    border: none;
    outline: none;
}

.control .control__main button:hover,
.control .control__backward button:hover,
.control .control__forward button:hover {
    color: rgba(243, 139, 114, 0.7);
    border: 1px solid rgba(243, 139, 114, 0.7);
}

.control .control__main {
    // border: 1px solid $main;
}

.control .control__main button {
    @include button-size;
    color: $main;
    background: transparent;
    border: none;
    outline: none;
}

.player-progress {
    margin-top: 1vh;
    // width: 40vw;
}

/**
 * Firefox setting for the progress bar.
 */
.player-progress progress {
    @include progress-blank;
}
.player-progress progress::-moz-progress-bar {
    @include progress-fill;
}

/**
 * Chrome and Safari setting for the progress bar.
 */
.player-progress progress::-webkit-progress-bar {
    @include progress-blank;
}

.player-progress progressn::-webkit-progress-value {
    @include progress-fill;
}
